@model PageViewModel
<!doctype html>
<html>
    <partial name="~/Views/Shared/_HeaderIncludes.cshtml" model="Model"/>
    <body class="">
    <partial name="~/Views/Shared/_Header.cshtml" />
        @RenderBody()
    <partial name="~/Views/Shared/_Footer.cshtml" />
    
    <script src="/js/main.js"></script>
    </body>
</html>